.Weather {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 15px #7F6D70;
  }

  
  .Weather h1 {
    font-size: 28px;
    font-weight: 100;
    margin: 20px 0 0 0;
    line-height: 29px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 1px #7F6D70;
  }
  
  .Weather ul {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    text-shadow: 1px 1px 1px #7F6D70;
  }
  
  .Weather li {
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
  }
  
  .Weather .temperature {
    color: white;
    text-shadow: 1px 1px 1px #7F6D70;
    font-size: 62px;
    line-height: 64px;
    font-weight: 400;
    margin-left: 12px;
  }
  
  .Weather canvas {
    
    margin-bottom: 15px;
  }
  
  .Weather .unit {
    color: white;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -34px;
    text-shadow: 1px 1px 1px #7F6D70;
  }

  .FormAndCurrentWeather {
    background: #FBA88B;      
    padding: 25px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

  .WeatherForecast {
      background: #FFFFFC;
      padding: 10px;
      border-radius: 10px;
      border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .WeatherInfo {
      text-align: center;
  }

  .btn-primary {
    background-color: #D24E42 !important;
    border-color: #D24E42 !important;
}

.btn-primary:hover {
    background-color: #C2483D !important;
    border-color: #C2483D !important;
}